extends layout

block content
	div.container-fluid
		h3 OJ评测状态，当前页数:#{nowpage}，最大页数:#{maxpage}
		form(method='POST' action='/status/skip')
			div.col-xs-6.col-md-4
				input.form-control(type='text' ,name='page',value='#{nowpage}')
			input.btn.btn-default(type='submit' value='跳转')
			- if (nowpage>1)
				a.btn.btn-default(href='/status/#{nowpage-1}') 上一页
			- if (nowpage<maxpage)
				a.btn.btn-default(href='/status/#{nowpage+1}') 下一页
		br

		table.table
			thead
				tr
					th #
					th 题目
					th 用户
					th 状态
					th 得分
					th 提交时间
			tbody
				- var start=(nowpage-1)*10
				- var end=start+9
				- if (end>=judgelist.length) end=judgelist.length-1
				- for (var i=judgelist.length-1-start;i>=judgelist.length-1-end;i--) {
				- var now=judgelist[i]
					tr
						td #{now.id}
						td #{now.title}
						td #{now.user}
						td #{now.status}
						td
							a(href='/status/detail/#{ now.id }') #{ now.score }
						td #{now.time}
				- }
