extends contest_layout

block content_contest
	div.container-fluid
		h3 比赛#{contesttitle}的题目列表
		table.table
			thead
				tr
					th #
					th Problem
			tbody
				- for(var i = 0 ; i < problems.length;i++){
						tr
							td #{i}
							td
								a(href='/contests/#{contestid}/problems/#{i}') #{problems[i].title}
				- }
