extends contest_layout

block content_contest
	div.container-fluid
		h3 Problems for contest #{contestid} 
		table.table
			thead
				tr
					th #
					th Problem
			tbody
				- for(var i = 0 ; i < gitlist.length;i++){
					- var ch = String.fromCharCode(i + 65)
						tr
							td #{i + 1}
							td
								a(href='/contests/#{contestid}/problems/#{ch}') #{ch}
				- }
