extends layout

block content
	div(class="article")
		ul
			- for (var i = 0; i < contestlist.length; ++i) {
				div.row
					div.col-xs-10
						p
							a(href='contests/#{contestlist[i].id}') #{contestlist[i].id}: #{contestlist[i].name} 
						p 开始时间: #{contestlist[i].starttime} 
						p 结束时间: #{contestlist[i].endtime}
					div.col-xs-2
						- if (power)
							button.btn.btn-primary(onclick="window.location='addcontests/#{contestlist[i].id}'") 管理
					hr
			- }
