extends layout

block content
	div(class="article")
		ul
			- for (var i = 0; i < contestlist.length; ++i) {
				div.row
					p
						a(href='contests/#{contestlist[i].id}') #{contestlist[i].id}: #{contestlist[i].name} 
					p 开始时间: #{contestlist[i].start_time} 
					p 结束时间: #{contestlist[i].end_time} 
				hr
			- }
