include head.jade

div(class="article")
	div(class="kuang_add")
		p(class="leftup") 请编辑#{contestname}比赛！
		form(class="center_add" method='POST', action='/addcontests/#{contestid}/edited')
			| 起始时间：
			input(type='date', name='startdate', value='#{startdate}')
			input(type='time', name='starttime', value='#{starttime}')
			br
			| 终止时间：
			input(type='date', name='enddate', value='#{enddate}')
			input(type='time', name='endtime', value='#{endtime}')
			br
			| 比赛名称：
			input(type='text', name='contestname',value='#{contestname}')
			br
			textarea(name='gitlist', cols='70', rows=20) #{tex}
			br
			input(class="rd" style='font-size:18px; font-family:"等线";' type='submit', value='Submit')


	