extends contest_layout

append head
	link(rel='stylesheet' href='/bower_components/highlightjs/styles/default.css')
	script(src='/bower_components/highlightjs/highlight.pack.min.js')
	script hljs.initHighlightingOnLoad();

block content_contest
	div.row
		table.table.table-hover
			thead
				tr
					th #
					th 提交者
					th 题目
					th 语言
					th 状态
					th 得分
			tbody
				tr
					td #{ res.id }
					td #{ res.user }
					td
						a(href='/contests/#{contestid}/problems/#{res.problem_id}') #{ res.problem_name }
					td #{ res.lang }
					td #{ res.status }
					td #{ res.score }
	- if (!(res.lang == 'system_g++' || res.lang == 'system_java')) {
	div.row
		pre
			code(class="#{ res.lang }")= res.source
	- }
	div.row
		p.具体信息
		table.table.table-hover
			- if (res.lang == 'system_g++' || res.lang == 'system_java') {
			thead
				tr
					th #
					th 总点数
					th 正确数
					th 时间(ms)
					th 得分
			tbody
				tr
					td 整体性能分
					td -
					td -
					td #{ res.total_time }
					td #{ res.results[1].score } 
				tr
					td 预处理
					td -
					td -
					td #{ res.results[1].time }
					td -
				- for (var i = 2; i < res.results.length; i++) {
				tr
					td Query #{ i - 1 }
					td #{ res.results[i].total }
					td #{ res.results[i].correct }
					td #{ res.results[i].time }
					td #{ res.results[i].score }
				- }
			- } else {
			thead
				tr
					th #
					th 状态
					th 时间(ms)
					th 空间(KB)
					th 得分
			tbody
				- for (var i in res.results) {
					- if (i == 0) { continue; }
					- var cs = res.results[i];
					tr
						td= i
						td= cs.status
						- if (cs.status == 'Waiting' || cs.status == 'Running') {
							td -
							td -
							td -
						- } else {
							td= cs.time
							td= cs.memory
							td= cs.score
						- }
				- }
			- }
	- if (is_admin) {
		div.row
			form(method='POST' action='/contests/rejudge/#{contestid}/#{res.id}')
				input.btn.btn-primary(type='submit' value='Rejudge')
	- }

