extends layout

append head
    script(type="text/x-mathjax-config") MathJax.Hub.Config({ tex2jax: { inlineMath: [ ['$','$'], ["\\(","\\)"] ], processEscapes: true } });
    script(type='text/javascript' src='/bower_components/MathJax/MathJax.js?config=TeX-AMS_HTML')


block content
    div.row
        div.col-xs-9
            div.panel-heading
                p #{p.title} -- #{JSON.stringify(p.meta)}
            div.panel-body
                p !{description}
        div.col-xs-3
            div.panel.panel-default
                div.panel-body
                    p #{JSON.stringify(p)}

            form(method='POST',action="/problem_pool/#{p._id}/update")
                div.panel.panel-default
                    div.panel-heading
                        p 更新该题
                    div.panel-body
                        div.form-group
                            label Git库地址
                            input.form-control(type="text", name="git_url", value = "#{p.git_url}")
                    div.panel-footer
                        div.form-group
                            input.btn.btn-success(type='submit' value="更新")
