extends layout

append head
	script(type="text/x-mathjax-config") MathJax.Hub.Config({ tex2jax: { inlineMath: [ ['$','$'], ["\\(","\\)"] ], processEscapes: true } });
	script(type='text/javascript' src='/bower_components/MathJax/MathJax.js?config=TeX-AMS_HTML')


block content
	div.row
		div.col-xs-9
			div.panel.panel-default
				div.panel-body
					h2.text-center #{p.title}
					p !{description}
		div.col-xs-3
			div.panel.panel-default
				div.panel-heading
					p 题目状态
				div.panel-body
					p #{p.status}
			div.panel.panel-default
				div.panel-heading
					p 评测信息
				div.panel-body
					table.table.table-hover
						tbody
							- if (p.meta && p.meta.time_limit) {
								tr
									td 时间限制
									td= p.meta.time_limit
							- }
							- if (p.meta && p.meta.memory_limit) {
								tr
									td 空间限制
									td= p.meta.memory_limit
							- }
			form(method='POST',action="/problem_pool/#{p._id}/update")
				div.panel.panel-default
					div.panel-heading
						p 更新该题
					div.panel-body
						div.form-group
							label Git库地址
							input.form-control(type="text", name="git_url", value = "#{p.git_url}")
					div.panel-footer
						div.form-group
							input.btn.btn-success(type='submit' value="更新")
